{% extends "base.html" %}
{% block title %}Edit Product{% endblock title %}
{% block content %}
<form method="POST" action="{{ url_for('product_bp.edit_product', product_id=product.id) }}"
    enctype="multipart/form-data">
    <div class="form-group">
        <label for="name">Tên sản phẩm</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Nhập tên sản phẩm"
            value="{{ product.name }}" required>
    </div>
    <div class="form-group">
        <label for="image">Hình ảnh</label>
        <img style="width: 50px" src="{{ url_for('static', filename='uploads/' + product.image) }}"
            alt="Hình ảnh sản phẩm" class="img-fluid">
        <input type="file" class="form-control mt-2" id="image" name="image" placeholder="Chọn hình ảnh">
    </div>
    <div class="form-group">
        <label for="desc">Mô tả</label>
        <textarea class="form-control" id="desc" name="desc" rows="3" placeholder="Nhập mô tả"
            required>{{ product.desc }}</textarea>
    </div>
    <div class="form-group">
        <label for="price">Giá</label>
        <input type="number" class="form-control" id="price" name="price" placeholder="Nhập gía" step="0.01"
            value="{{ product.price }}" required>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Xác nhận</button>
</form>
{% endblock content %}