{% extends "base.html" %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
<style>
    #form_login {
        width: 500px;
        margin: 0 auto;
        margin-top: 100px;
    }
</style>
<form id="form_login" method="POST" action="{{ url_for('user_bp.login') }}">
    <h1 class="text-center mx-1">Đăng nhập</h1>
    <!-- Email input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <input type="text" id="email" name="username" class="form-control" />
        <label class="form-label" for="email">Tên đăng nhập</label>
    </div>

    <!-- Password input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <input type="password" id="password" name="password" class="form-control" />
        <label class="form-label" for="password">Mật khẩu</label>
    </div>
    <!-- Submit button -->
    <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Sign
        in</button>
</form>

<!-- Display flash messages -->

{% endblock content %}