{% extends "base.html" %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
<h1 class="text-center mt-2 mb-2">Quản lý đơn hàng</h1>
<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Tên</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Tổng tiền</th>
            <th scope="col">Địa chỉ</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for data in orders %}
        <tr>
            <th scope="row">{{data.id}}</th>
            <td>{{data.receiver_name}}</td>
            <td>{{data.phone_number}}</td>
            <td>{{data.total_amount}} VND</td>
            <td>{{data.address}}</td>
            <td>
                <form method="POST" action="{{ url_for('order_bp.delete_order', order_id=data.id) }}"
                    style="display: inline-block;">
                    <button type="submit" class="btn btn-danger btn-sm">Xoá</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}